 port 22
 protocol 2

 HostKey /etc/ssh/ssh_host_rsa_key
 HostKey /etc/ssh/ssh_host_dsa_key
 HostKey /etc/ssh/ssh_host_ecdsa_key
 HostKey /etc/ssh/ssh_host_ed25519_key
 LoginGraceTime 120
 PermitRootLogin yes
 StrictModes yes

 PubkeyAuthentication yes
 UsePAM no
